/.idea/.gitignore
/ACO/.idea/.gitignore
/ACO/.idea/ACO.iml
/.ipynb_checkpoints/berlin52-checkpoint.tsp
/.idea/misc.xml
/ACO/.idea/misc.xml
/.idea/modules.xml
/ACO/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/ACO/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/ACO/.idea/inspectionProfiles/Project_Default.xml
/.idea/Trab3.iml
/.ipynb_checkpoints/Untitled1-checkpoint.ipynb
/.ipynb_checkpoints/Untitled2-checkpoint.ipynb
/.ipynb_checkpoints/Untitled-checkpoint.ipynb
/.idea/vcs.xml
/AlgsGeneticos/
/Relatório/
/Figuras/